name: Anchore Container Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Anchore-Build-Scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        images: [ 'server.Dockerfile' ]

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file ${{ matrix.image }} --tag octodemo/scan-image:latest

    - name: Run the Anchore scan action itself with GitHub Advanced Security code scanning integration enabled
      uses: anchore/scan-action@b08527d5ae7f7dc76f9621edb6e49eaf47933ccd
      with:
        image: "octodemo/scan-image:latest"
        fail-build: false
        acs-report-enable: true

    - name: Upload Anchore Scan Report
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: results.sarif
